html{
    min-height: 100%;
    font-size: 62.5%;
}
body{
/* background-color: rgb(12, 2, 68);
background-image: url("imagenes/patron3.jpg");
opacity: 100%; */
background: linear-gradient(to bottom right, plum, white);
background-size: cover;
background-repeat: no-repeat;
height: 100%;


}



.banner{
    border-radius: 15px;
    border:solid;
    border-color: black;
    background-color: #FF99CC;
    margin-left: 30%;
    margin-top: 2%;
    height: 8rem;
    width: 50rem;
 
}
.banner-interno{
    border-radius: 1.5rem;

    border-style: dashed;
    height: 6rem;
    width: 47.5rem;
    margin-left: 1rem;
    margin-top: 0.7rem;
    position: absolute;

}
.text{
    margin-top: 1rem;
    font-family: monospace;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;

}

li{
    margin-top: 3rem;
    list-style: none;
}


.nav{
    font-size: large;
    font-family: monospace;
    color: black;
    font-style: normal;
    background-color: plum;
    border-radius: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem white;
    text-decoration: none;
    padding: 1rem;
}

footer{
    padding: 1rem;
    margin-left: 38%;
}
.redes{
    color:#9999FF ;
    font-size: 5rem;
    text-align: center;
    padding: 1%;

}

.texto-botones{
    font-size: large;
    font-family: monospace;
    color: black;
    font-style: normal;
    background-color: plum;
    border-radius: 1.5rem;

    text-decoration: none;
    padding: 1rem;
}



.navegador{
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem white;
}

.container {
    width: 80%;
    height: 30rem;
    background: aqua;
    margin-top: 4rem;
  }

img[alt^="selene"]{
    border-radius: 1rem 1rem 1rem 1rem;
    height: 70%;
    width: auto;
    padding-top: 8%;


}
.marco{
    margin-top: 4rem;
    background-color: #9999FF;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem 1rem 4rem 4rem;
    text-align: center;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;

}

.borde{
    
    background-color: #9999CC;
    height: 2.5rem;
    width: 25rem;
    border-radius:   1rem 1rem 0 0;
    border-top: solid;
    border-bottom: solid;
}
.presentacion-fondo{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: white;
    opacity: 30%;
}

.superior{
    margin-top: 4rem;
    height: 3rem;
    width: 20rem;
    background-color: #9999FF;
    opacity: 50%;
}
